.shopping-cart {
  & > button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    margin-right: 12px;
    transition: all 0.3s ease-in;

    &:hover {
      transform: translateY(-1px);
    }

    &:active {
      transform: translateY(1px);
    }
  }
}
